<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.worldturtlemedia.playground.photos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:theme="@style/PhotosTheme">
        <activity
            android:name=".GooglePhotosActivity"
            android:exported="true"
            android:label="Google Photos"
            android:theme="@style/PhotosTheme" />
    </application>
</manifest>
